@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-slider button.slick-prev {
  top: 120px;
  left: 0px;
  z-index: 10;
}
.custom-slider button.slick-next {
  top: 120px;
  right: 20px;
  z-index: 10;
}
.custom-slider button.slick-prev::before {
  color: white;
  content: "\276E";
  height: 40px;
  width: 40px;
  font-size: 30px;
  background: #0e9c49;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-slider button.slick-next::before {
  color: white;
  content: "\276F";
  height: 40px;
  width: 40px;
  font-size: 30px;
  background: #0e9c49;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.1s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left-animation {
  animation: slideLeft 0.5s ease-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.slide-right-animation {
  animation: slideRight 0.5s ease-out;
}
@keyframes fade-in-from-top {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-from-top-animation {
  animation: fade-in-from-top 0.5s ease-out;
}
